<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Book$tore</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<script src="/../js/dashboardserver.js"></script>
</head>
<body>
	<nav class="navbar is-transparent">
	<div class="navbar-brand">
		<a class="navbar-item">
			<img src="/bookstorelogo.png" alt="Book$tore logo" width="125" height="250">
		</a>
		<div class="navbar-burger" data-target="navbarExampleTransparentExample">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="navbarExampleTransparentExample" class="navbar-menu">
		<div class="navbar-start">
				<span><button class="button is-danger is-medium" id="addNewBookButton">Add Books</button></span>
				<span><a href="/api/all"><button class="button is-danger is-medium" id="allBooks">Book Shelf</button></a></span>
				<span><a href="/api/keep"><button class="button is-danger is-medium" id="keepBooks">Books To Keep</button></a></span>
				<span><a href="/api/sell"><button class="button is-danger is-medium" id="sellBooks">Books To Sell</button></a></span>
		</div>

		<!-- The New Book Modal -->
		<div id="search" class="modal is-active">
			<div class="modal-background">
				<div class="modal-card">
					<title>Book Search</title>
					<div class="modal-content">
					<form id="myform">
						<div class="input-field is-large">
							<input type="text" placeholder="Title or ISBN" id="books">
							<label for="search">Enter either the book title or ISBN that you're searching for.</label>
						</div>
						<button class="button is-medium">Search Books</button>
						<button class="button is-medium close-modal" aria-label="Cancel">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="field is-grouped">
					<p class="control">
						<a class="button" id="logoutButton" href="/logout">
							<span>
								Logout
							</span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</nav>
<div id="result"></div>

	{{{ body }}}
</body>
</html>

<script>

var modal = document.getElementById('search');
var btn = document.getElementById("addNewBookButton");
var span = document.getElementsByClassName("close")[0];
var cancel = document.getElementById('cancelButton');
btn.onclick = function() {
    modal.style.display = "block";
}

$(".close-modal").click(function(event) {
  modal.hide();
});

</script>
