<ul>
  {{#each books}}
    <li>
      <p>
        {{this.title}}
        <br>
        {{this.author}}
        <br>
        {{this.isbn}}
      </p>
    </li>
  {{/each}}
</ul>

<script type="text/javascript">


</script>
