#search{
	width: 300px;
	height:150px;
	margin: auto;
	margin-top: 20px;
	padding:15px;
}
button{
	position: relative;
	left:50px;
}

.aligning{
	margin-left: 700px;
	margin-top: 20px; 
}
#imagebutton{
	position: relative;
	left:-10px;
	top: -8px;
	margin-bottom: 15px;
}
#results{
	margin-top: 50px;
}